---
import Image from "astro/components/Image.astro";
import { FaHome } from "react-icons/fa";
import {
  //   SiBluesky,
  SiGithub,
  SiYoutube,
  SiTwitter,
  SiDiscord,
} from "react-icons/si";
import Head from "../components/Head.astro";
import LinkCard from "../components/LinkCard.astro";
import LinksContainer from "../components/LinksContainer.astro";
---

<html lang="en">
  <Head />
  <body class="bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 px-8">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative my-16 flex flex-col items-center">
      <header class="flex flex-col items-center">
        <Image
          src="/pfp.jpg"
          alt="GalvinPython Logo"
          format="jpg"
          width={96}
          height={96}
          class="rounded-full"
        />

        <h1 class="mt-4 text-3xl font-bold">Galvin</h1>
        <b class="text-md mb-2 mt-1">
          I'm a C#, JavaScript/TypeScript, and Python Developer, Video Editor,
          and YouTube Content Creator
        </b>
      </header>
      <main class="flex w-full flex-col gap-1">
        <LinksContainer title="GitHub">
          <LinkCard
            href="https://github.com/GalvinPython"
            title="GitHub"
            icon={SiGithub}
            color="#000"
          />
        </LinksContainer>

        <LinksContainer title="Website">
          <LinkCard
            href="https://imgalvin.me"
            title="Website"
            icon={FaHome}
            color="#000"
          />
        </LinksContainer>

        <LinksContainer title="YouTube">
          <LinkCard
            href="https://youtube.com/@Stats100"
            title="Stats100"
            icon={SiYoutube}
            color="#f00"
          />
        </LinksContainer>

        <LinksContainer title="Discord">
          <LinkCard
            href="https://discord.gg/tqzg87T4zM"
            title="Stats100 Discord Server"
            icon={SiDiscord}
            color="#5865F2"
          />
          <br />
          <LinkCard
            href="https://autopublisher.imgalvin.me"
            title="Auto Publisher"
            icon={SiDiscord}
            color="#5865F2"
          />
        </LinksContainer>

        <LinksContainer title="Other Social Media">
          <LinkCard
            href="https://twitter.com/egalvinyt"
            title="Twitter"
            icon={SiTwitter}
            color="#1DA1F2"
          />

          <!-- <LinkCard
            href="https://bsky.app/profile/galvin.bsky.social"
            title="Bluesky"
            icon={SiBluesky}
            color="#1DA1F2"
          /> -->
        </LinksContainer>
      </main>
    </div>
  </body>
</html>
