---
import { Image } from "@astrojs/image/components";
import { BsPinAngleFill } from "react-icons/bs/index.js";
import {
FaGithub,
FaMouse,
FaHome,
FaTwitch,
FaTwitter,
FaYoutube,
} from "react-icons/fa/index.js";
import Head from "../components/Head.astro";
import LinkCard from "../components/LinkCard.astro";
import LinksContainer from "../components/LinksContainer.astro";
---

<html lang="en">
  <Head />
  <body class="my-16 flex flex-col items-center px-8">
    <header class="flex flex-col items-center">
      <Image
      src="/galvinpython.png"
      alt="GalvinPython Logo"
      format="png"
      width={96}
      height={96}
      class="rounded-full"
      />
      <h1 class="mt-4 text-3xl font-bold">GalvinDev / GalvinPython</h1>
      <p class="text-md mb-8 mt-1">Also Known As: Galvin/Redblock/Stats100</p>
    </header>
    <main class="flex w-full flex-col gap-1">
      <div id="blob"></div>
      <div id="blur"></div>
      <LinksContainer title="Pinned" icon={BsPinAngleFill}>
        <LinkCard
          href="https://gc.galvindev.me.uk"
          title="Global Clicker"
          icon={FaMouse}
          color="#000"
        />
      </LinksContainer>
      <LinksContainer>
        <!-- Website -->
        <!-- <div class="flex w-full flex-col items-center">
          <span class="mb-3 h-0.5 w-56 rounded-lg bg-white"></span>
        </div>
        
        <LinkCard
        href="https://galvindev.me.uk"
        title="Website"
        icon={FaHome}
        color="#000"
        /> -->
        
        <!-- YouTube -->
        <div class="flex w-full flex-col items-center">
          <span class="mb-3 h-0.5 w-56 rounded-lg bg-white"></span>
        </div>
        <LinkCard
          href="https://youtube.com/@Redblock"
          title="YouTube - Redblock"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://youtube.com/@RedblockF3"
          title="YouTube - RedblockF3"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://youtube.com/@Stats100"
          title="YouTube - Stats100"
          icon={FaYoutube}
          color="#f00"
        /><br />
        <LinkCard
          href="https://www.youtube.com/@stats100/live"
          title="Stats100: Check out my 24/7 stream!"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://www.youtube.com/@nocontext"
          title="Works on No Context JackSucksAtLife"
          icon={FaYoutube}
          color="#f00"
        />
        
        <!-- Twitter -->
        <div class="flex w-full flex-col items-center">
          <span class="mb-3 h-0.5 w-56 rounded-lg bg-white"></span>
        </div>
        <LinkCard
          href="https://twitter.com/egalvinyt"
          title="Twitter"
          icon={FaTwitter}
          color="#1DA1F2"
        />
        
        <!-- Twitch -->
        <LinkCard
          href="https://twitch.tv/RedblockF3"
          title="Twitch"
          icon={FaTwitch}
          color="#9146FF"
        />
        
        <!-- Github -->
        <LinkCard
          href="https://github.com/GalvinPython"
          title="GitHub"
          icon={FaGithub}
          color="#000"
        />

        <!-- "Footer" -->
        <small class="text-md mb-8 mt-1 italic">Last updated: 20th October 2023 | <a href="https://github.com/GalvinPython/links-galvindev">View Source</a></small>
      </LinksContainer>
    </main>
  </body>
</html>
