---
import { Image } from "@astrojs/image/components";
import { BsPinAngleFill } from "react-icons/bs/index.js";
import {
  FaGithub,
  FaMouse,
  FaHome,
  FaTwitch,
  FaTwitter,
  FaYoutube,
  FaSquare,
} from "react-icons/fa/index.js";
import Head from "../components/Head.astro";
import LinkCard from "../components/LinkCard.astro";
import LinksContainer from "../components/LinksContainer.astro";
---

<html lang="en">
  <Head />
  <body class="my-16 flex flex-col items-center px-8">
    <header class="flex flex-col items-center">
      <Image
        src="/gpnew.jpg"
        alt="GalvinPython Logo"
        format="png"
        width={96}
        height={96}
        class="rounded-full"
      />
      <h1 class="mt-4 text-3xl font-bold">Galvin</h1>
      <b class="text-md mb-2 mt-1">
        C#, JavaScript/TypeScript, Python; Video Editor; YouTube Content Creator
      </b>
      <p class="text-md mb-8 mt-1">
        Also: GalvinDev/GalvinPython/Redblock/Stats100
      </p>
    </header>
    <main class="flex w-full flex-col gap-1">
      <div id="blob"></div>
      <div id="blur"></div>
      <LinksContainer title="Pinned" icon={BsPinAngleFill}>
        <LinkCard
          href="https://github.com/GalvinPython"
          title="GitHub"
          icon={FaGithub}
          color="#000"
        />
      </LinksContainer>

      <LinksContainer>
        <!-- Website -->
        <b class="text-md mb-2">galvindev.me.uk</b>
        <LinkCard
          href="https://galvindev.me.uk"
          title="Website"
          icon={FaHome}
          color="#000"
        />
        <LinkCard
          href="https://gc.galvindev.me.uk"
          title="Global Clicker"
          icon={FaMouse}
          color="#000"
        />

        <!-- YouTube -->
        <!-- <div class="flex w-full flex-col items-center">
          <span class="mb-3 h-0.5 w-56 rounded-lg bg-white"></span>
        </div> -->
        <b class="text-md mb-2">YouTube</b>
        <LinkCard
          href="https://youtube.com/@Redblock"
          title="Redblock"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://youtube.com/@RedblockToo"
          title="RedblockToo"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://youtube.com/@Stats100"
          title="Stats100"
          icon={FaYoutube}
          color="#f00"
        /><br />
        <LinkCard
          href="https://www.youtube.com/@stats100/live"
          title="Stats100: Check out my 24/7 stream!"
          icon={FaYoutube}
          color="#f00"
        />
        <LinkCard
          href="https://www.youtube.com/@nocontext"
          title="Works on No Context JackSucksAtLife"
          icon={FaYoutube}
          color="#f00"
        />

        <!-- Other Social Media -->
        <b class="text-md mb-2">Other Social Media</b>
        <LinkCard
          href="https://twitter.com/egalvinyt"
          title="Twitter"
          icon={FaTwitter}
          color="#1DA1F2"
        />

        <LinkCard
          href="https://bsky.app/profile/galvin.bsky.social"
          title="Bluesky"
          icon={FaSquare}
          color="#1DA1F2"
        />


        <!-- <LinkCard
          href="https://twitch.tv/RedblockF3"
          title="Twitch"
          icon={FaTwitch}
          color="#9146FF"
        /> -->

        <!-- "Footer" -->
        <small class="text-md mb-2 mt-1 italic"
          >Last updated: 6th February 2024 | <a
            href="https://github.com/GalvinPython/links-galvindev"
            >View Source</a
          ></small
        >
        <small class="text-md mb-2 mt-1 italic"><a href="/">Return to the 2023 design here. Please note that the 2024 design is currently in progress</a></small>
      </LinksContainer>
    </main>
  </body>
</html>
